<h1>Census Explorer</h1>

<auto-complete-textbox debounce="200" get-suggestions="example.suggestNames(input)"
                       on-change="example.onNameChange(input)"
                       textbox-model="example.name"></auto-complete-textbox>

<h1>THERE ARE <span id="count">{{example.count ? example.count : '___' }}</span> PEOPLE
  WITH THE LAST NAME <span id="name">{{example.name ? example.name : '___'}}</span>
  {{example.count ? "RANK #" : ""}}<span id="rank">{{example.count ? example.rank : ""}}</span></h1>

<wikipedia-list search-query="{{example.name}}" ng-show="example.count"></wikipedia-list>
