<div class="autocomplete-textbox-wrapper">
  <input id="textbox" list="suggestions" ng-model="autoCompleteTextboxCtrl.textboxModel"
         ng-change="autoCompleteTextboxCtrl.updateSuggestions()"
         ng-model-options="{ debounce: autoCompleteTextboxCtrl.debounce }"/>
  <ul>
    <li ng-repeat="o in autoCompleteTextboxCtrl.suggestions" ng-click="autoCompleteTextboxCtrl.updateValue(o)">
      {{o}}
    </li>
  </ul>
</div>
