.autocomplete-textbox-wrapper {
  font-size: 1em;
  width: 10em;
  border: 1px solid gray;

  #textbox {
    width: 100%;
    font-size: 1em;
    font-family: inherit;
    box-sizing: border-box;
  }

  ul {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

    li {
      border-top: 1px solid lightblue;
      padding: 5px 0 5px 2px;
      margin: 0 auto;
    }

    li:hover {
      background-color: aliceblue;
    }
  }

}
